.auth-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 40px 30px;
  background-color: #f0f4f8;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  font-family: 'Segoe UI', sans-serif;
}

.tab-header {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.tab-header div {
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease;
}

.tab-header .active {
  border-bottom: 3px solid #02c8db;
  color: #02c8db;
}

.auth-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px;
}

.form-group input {
  width: 100%;
  padding: 12px 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
}

.submit-btn {
  padding: 12px;
  background-color: #02c8db;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s;
}

.submit-btn:hover {
  background-color: #50e5b9;
}

.link {
  margin-top: 15px;
  text-align: center;
  color: #777;
}

.error-message {
  color: red;
  font-size: 14px;
  text-align: center;
  margin-bottom: 10px;
}


@media (max-width: 480px) {
  .auth-container {
    margin: 20px;
    padding: 25px 20px;
  }

  .tab-header div {
    font-size: 14px;
  }
}
