<div class="auth-container">
    <div class="tab-header">
        <div [class.active]="isLoginTab" (click)="switchTab(true)">Login</div>
        <div [class.active]="!isLoginTab" (click)="switchTab(false)">Register</div>
    </div>

    <form class="auth-form" (ngSubmit)="isLoginTab ? loginEmployee() : registerEmployee()">
        <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>

        <div class="form-group">
            <input type="text" name="username" [(ngModel)]="authData.userName" placeholder="Username" required />
        </div>

        <div class="form-group">
            <input type="password" name="password" [(ngModel)]="authData.password" placeholder="Password" required />
        </div>

        <div *ngIf="!isLoginTab" class="form-group">
            <input type="email" name="email" [(ngModel)]="authData.email" placeholder="Email" required />
        </div>

        <button type="submit" class="submit-btn">
            {{ isLoginTab ? 'Login' : 'Register' }}
        </button>

        <div class="link" *ngIf="isLoginTab">
            <a href="#">Username: admin</a> <br />
            <a href="#">Password: {{"Admin@123"}}</a>
        </div>
    </form>
</div>